<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coc.member.mapper.MembersMapper">

    <select id="getInfoByName" parameterType="String" resultType="map">
        select user_id,user_name,description,member_mobile,member_sex,member_avatar,member_sign
        from sys_user_table
        INNER JOIN members using(user_id)
        where user_name=#{value}
    </select>


</mapper>
